
:root {
  --gradient-background: linear-gradient(90deg, rgba(198,192,228,1) 0%, rgba(130,119,190,1) 0%, rgba(198,192,228,1) 70%);
  --gradient-radial: radial-gradient(circle, rgba(198,192,228,1) 0%, rgba(130,119,190,1) 0%, rgba(198,192,228,1) 70%);
  --font-family: 'Manrope', sans-serif;
  --color-bg: #c6c0e4;
}

