.palila__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: .5rem 1rem;
    /* background-color: rgba(255,255,255,.7); */
    background-color: transparent;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
}

.palila__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* .ms-auto {
    margin-left: auto !important;
  
  } */



.palila__navbar-links_logo {
    flex: 1;
    /* justify-content: flex-start; */
    /* text-align: start; */
 
    /* margin-right: 2rem;   */
}

/* .palila__navbar-links_logo img{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    width: 62.56px;
    height: 16.02px;

} */


.palila__navbar-links_container {
    display: flex;
    flex-direction: row;
}

/* .palila__navbar-signIn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.palila__navbar-links_container p, .palila__navbar-signIn p, .palila__navbar-menu_container p {
    color: black;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    

    margin: 0 1rem;
    cursor: pointer;
}

/* .palila__navbar-signIn button, .palila__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size:18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
} */

.palila__navbar-menu {
    margin-left: 1rem;
    display:none;
    position: relative;
}



.palila__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    z-index: 100;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.palila__navbar-menu_container p {
    margin: 1rem 0;

}

.palila__navbar-menu_container-links-signIn {
    display: none;
}


/* Large screens */
@media screen and (min-width: 1051px) {
    .palila__navbar-links_container {
        display: flex;
    }
    .palila__navbar-menu {
        display: none;
    }
    .palila__navbar-links_container p, .palila__navbar-signIn p, .palila__navbar-menu_container p{
        font-size: 40px;
        line-height: 120px;
        margin: 0 1rem;
    }
    .palila__navbar-signIn button, .palila__navbar-menu_container button {
        line-height: 35px;
        font-size: 30px;
    }
}

/* Tablets */
@media screen and (max-width: 1050px) {
    .palila__navbar-links_container {
        display: none;
        font-size: 80px;
    }
    .palila__navbar-menu {
        display: flex;
    }
}

/* Medium sized screens */
@media screen and (max-width: 700px) {
    .palila__navbar {
        padding: .5rem 1rem;
    }
}

/* Small sized screens */
@media screen and (max-width: 550px) {
    .palila__navbar {
        padding: .5rem 1rem;
    }

    .palila__navbar-signIn {
        display: none;
    }

    .palila__navbar-menu_container {
        top: 20px;
    }

    .palila__navbar-menu_container-links-signIn {
        display: block;
    }
}
