.palila__showcase-content  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    position: relative;
    width: 90%;
    height: 40vh;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid yellow;
    top: 70vh;
}

.palila__showcase-wrapper h2 {
    font-size: 40px;
    padding-top: 10px;
   
}

/* .palila__showcase-wrapper p {
    padding: 1% 0;
} */
