.palila__header{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin-top: -5rem;
  background-image: url('../../assets/OriginalSize.svg');
  background: rgba(50, 70, 80, .1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  width: 100%;
  height: 100vh;
  /* position: fixed; */
  border: 0;
  margin-top: 0;

  
  /* margin-left: 50vw; */
  /* transform: translate(-50%, -50%); */
}


.palila__header-container {
  /* padding-top: -15vh; */
  font-size: 20px;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.palila__header-container-text {
  flex: 1;
  padding: 0vh;
}

.palila__header-container-text h1{
  padding: 30vh;

}



  
/* .palila__header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  position: absolute;
  width: 100%;
  height: 100%;
} */

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.text-center {
  text-align: center !important;
}

.d-flex {
  display: flex !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media screen and (max-width: 689px) and (height: 1186px){
  .palila__header {
    background-image: url('../../assets/t400px.png');  
  }
}

@media screen and (min-width: 1387px)  {
  .palila__header {
    background-image: url('../../assets/t1200px.png');  
   
  }
}


@media screen and (min-width: 1201px) and (max-width: 1386px) {
  .palila__header {
    background-image: url('../../assets/t1200px.png');
    
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .palila__header {
    background-image: url('../../assets/t1200px.png');
    
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .palila__header {
    background-image: url('../../assets/t1024px.png');
    
  }
}

@media screen and (min-width: 593px) and (max-width: 768px) {
  .palila__header {
    background-image: url('../../assets/t768px.png');
    
  }
}

@media screen and (min-width: 481px) and (max-width: 592px) {
  .palila__header {
    background-image: url('../../assets/t592px.png');
    
  }
}

@media screen and (min-width: 401px) and (max-width: 40px) {
  .palila__header {
    background-image: url('../../assets/t480px.png');
    
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  .palila__header {
    background-image: url('../../assets/t400px.png');
    
  }
}

@media screen and (max-width: 320px)  {
  .palila__header {
    background-image: url('../../assets/320px.png');
    
  }
}

